*{padding: 0;margin: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
button{cursor: pointer;}

.form {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.main__input {
    width: 600px;
    height: 600px;
}
.but {
    width: 167px;
    margin-top: 10px;
    
}

.cursor {
    z-index: 999;
    position: absolute;
    box-sizing: border-box;
    border-left: 2px solid;
    transform: translatez(0);

    

    color: #000000;
}

.header {
    box-sizing: border-box;
    height: 70px;
    font-family: 'JetBrains Mono';
    border-bottom: 1px solid #DFDFDF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__logo__possion{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    width: 141px;
}
.header__logo {
    display: block;
    width: 141px;
    height: 50px;
    background: no-repeat url('./imgs/logo.svg'); 
}
.main {
    height: calc(100vh - 70px);
    background: #FFFFFF;
    overflow-x: hidden;
}
.auth{
    margin:0 auto !important;
    padding-top: 57px !important;
    width: 280px !important;
}

.auth-header {
/* Аутенфикация */
    margin-top: 57px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 39px;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* identical to box height */
    color: #000000;
}


.auth-sbis {
/* Текст-адрес */
    
    margin-top: 30px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background: #3B6F99;
    border-radius: 5px;
}

.auth-google {     
        margin-top: 54px;
        width: 100%;
        height: 40px;   
    }

.auth-sbis__text {
    padding-top: 12px;
    padding-right: 10px;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* identical to box height */
    color: white;
    
}
.auth-sbis__logo {
    /* Rectangle 11 */
    float: left;
    width: 40px;
    height: 40px;
    background: no-repeat url('./imgs/sbis_login.svg');

    border-radius: 5px;
 }
.auth__line{
    text-align: center;
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 24px;
}
.auth__line span{
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.auth__line:before,
.auth__line:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 1px;
    background-color: black;
    position: relative;
}
.auth__line:before {
    margin-left: -80%;
    left: -14px;
}
.auth__line:after {
    margin-right: -80%;
    right: -14px;
}
.auth-guest {
    /* Rectangle 12 */
    display: block;
    width: 280px;
    height: 40px;
    background: #3B6F99;
    border-radius: 5px;
}
.auth-guest__text {
    /* Войти как гость */
    margin: 0 auto;
    padding-top: 12px;
    padding-left: 10px;
    width: 120px;
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

/* identical to box height */


color: #FFFFFF;

}


.invite-button {
/* Кнопка */
/* Auto layout */
    float: left;
    display: block;
    gap: 10px;
    margin-left: 40px;
    margin-top: 18.5px;
    text-align: center;
    height: 35px;
    background: #F2F2F2;
    background: url("./imgs/kres.svg") left no-repeat;
    background-position: -2px 9px;
    width: 125px;
}

.invite-button__text {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    text-align: center;
    color: #1F4A6C;
    line-height: 18px;
/* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


.exit__buttom{
    font-family: 'JetBrains Mono', monospace;
    background: transparent;
    float: left;
    border-radius: 5px;
    margin-top: 28px;
    color: #D93D3D;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.event__log{
    font-family: 'JetBrains Mono', monospace;
    background: transparent;
    float: left;
    margin-top: 26px;
    margin-left: 25px;
    color: #1F4A6C;
    font-size: 14px;
}
.magazine__log{
    font-family: 'JetBrains Mono', monospace;
    background: transparent;
    float: left;
    margin-top: 26px;
    margin-left: 20px;
    color: #1F4A6C;
    font-size: 14px;
}
.buttons{
    position: relative;
    float: right;
}
.select-fontSize {
    /* Селект-бар */
/* Auto layout */

    font-family: 'JetBrains Mono';
    color: #1E496B;
    gap: 10px;
    padding-left: 10px;
    position: absolute;
    width: 78.43px;
    height: 30px;
    top: 10px;
    right: 15px;
    border: 1px solid #1E496B;
    border-radius: 5px;
    z-index: 1000;
    font-style: normal;
    font-weight: 700;
}
.select-fontSize:hover{
    cursor: pointer;
}
.select-language {
    /* Селект-бар */
/* Auto layout */

    padding-left: 10px;
    color: #1E496B;
    z-index: 1000;
    position: absolute;
    border: 1px solid #1E496B;
    height: 30px;
    top: 10px;
    right: 115px;
    border-radius: 5px;

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
}
.select-language:hover{
    cursor: pointer;
}
.input__content{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    height: 20%;
    
    padding: 20px 50px;
    text-align: center;
}
.input__text{
    font-size: 1.5em;
    font-weight: bold;
}
.login-button {
    width: 100px;
    height: 30px;
}
.guest__input{
    border: solid 1px black;
    border-width: 1px 1px;
    height: 20px;
    width: 280px;
}



.log__name{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 24px;
    width: 216px;
}
.font__header{
    font-size: 14px;
    font-weight: 500;
    color: #1F4A6C;
}
.table{
    margin: 0 auto;
    width: 1100px;
    font-weight: 400px;
    color: #1F4A6C;
    font-size: 14px;
    border-collapse:collapse;
}
.container{
    font-family: 'JetBrains Mono', monospace;
    margin: 0 auto;
    height: 90px;
    border-left: solid 2px #57768F;
    border-right: solid 2px #57768F;
    border-bottom: solid 2px #57768F;
    position: relative;
}
.container:nth-child(2n){
    background: #FAFAFA;
}
.container__header{
    height: 40px;
    border-top: solid 2px #57768F;
    background-color:#FFFFFF !important;
}
.table div{
    padding: 10px; 
}
.family{
    width: 500px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
}
.begin{
    width: 160px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
}
.edit{
    width: 160px;
    text-align: left;
    box-sizing: border-box;
} 
.named__lang{
    width: 170px;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
}
.font-weight{
    font-weight:700;
}
.delete__button{
    position: absolute;
    right: -120px;
    top: 30px;
    background-color: transparent;
    padding: 5px;
    padding-left: 34px;
}
.delete__logo{
    position: absolute;
    left: -35px;
    top: -6.5px;
}
.delete__meeting{
    font-weight: 500;
    font-size: 14px;
    background-color: white;
    color:#D93D3D;
}
.delete__button .delete__inside{
    padding: 0px;
    position: relative;
}
.back__main{
    width: 168px;
    font-size: 14px;
    color: #1F4A6C;
    background-color: transparent;
    margin-top: 24px;
    float: left;
    margin-left: 30px;
    font-style: normal;
}
.create__meeting{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-size: 14px;
    color: #1F4A6C;
    margin-top: 24px;
    margin-left: 86px;
    background-color: transparent;
    float: left;
}
.create__meeting img{
    float: left;
    padding-right: 8px;
    
}
.carousel-container {
    width: 470px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    float:left;
    padding-top: 13px;
}

.carousel-wrapper {
    display: flex;
    height: 10%;
    position: relative;
    width: 100%;
    padding-top: 1px;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 10%;
}

.carousel-content {
    display: flex;
    transition: all 200ms linear;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    flex-shrink: 0;
    flex-grow: 1;
    
}

.left-arrow, .right-arrow {
    position: absolute;
    z-index: 1;
    top: 55%;
    transform: translateY(-50%);
    width: 10px;
    height: 20px;
    border-radius: 24px;
    background: transparent;
}

.left-arrow {
    left: -16px;
}

.right-arrow {
    right: 16px;
}
.members__text{
    padding-top: 12px;
    padding-left: 4px;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}
.members{
    display: flex;
}

.circle__user{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.carousel-content.show-2 > * {
    width: 50%;
}

.carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}