.user-color_green{
    background: #52AA47;
}
.user-color_yellow{
    background: rgb(233, 243, 50);
}
.user-color_pink{
    background: rgb(250, 90, 215);
}

.user-color_red{
    background: #DA4AA7;;
}
.user-color_purple{
    background: #3B3B9D;;
}
.user-color_blue{
    background: #018DF9;;
}
.user-color_aqua{
    background: #209D94;;
}


